server/node_modules/
server/dist/
server/.next/
server/.env
server/.env.local
server/*.log
server/.DS_Store


web/node_modules/
web/dist/
web/.next/
web/.env
web/.env.local
web/*.log
.DS_Store


https://hashscan.io/testnet/transaction/0.0.7162784@1784919117.305354593

https://hashscan.io/testnet/transaction/0.0.7162784@1784919156.713110754

https://hashscan.io/testnet/transaction/0.0.7162784@1784921057.817511506


https://hashscan.io/testnet/account/0.0.9693209/operations

https://hashscan.io/testnet/account/0.0.9693221/operations

